<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>账单管理系统</title>
    <link rel="stylesheet" href="../css/public.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<!--头部-->
<header th:replace="main/public :: #publicHeader"></header>
<!--时间-->
<section th:replace="main/public :: #publicTime"></section>
<!--主体内容-->
<section class="publicMian">
    <div class="left" th:replace="main/public :: #publicMianLeft(nav='')"></div>
    <div class="right">
        <img class="wColck" src="../img/clock.jpg" alt=""/>
        <div class="wFont">
            <h2>[[${session.LoginState}]]</h2>
            <p>欢迎使用!</p>
			<span id="hours"></span>
        </div>
    </div>
</section>
<footer class="footer" th:replace="main/public :: #footer"></footer>
<!--
	<script src="js/time.js"></script>
	-->

</body>
</html>